.imagemhome
{
    width: 20em;
    height: 20em;
}
.imagemhome2
{
    width: 20em;
    height: 20em;
}
.produto1
{
    width: 20em;
    height: 20em;
}
.produto2
{
    width: 20em;
    height: 20em;
}
.produto3
{
    width: 20em;
    height: 20em;
}
.produto4
{
    width: 20em;
    height: 20em;
}
.produto5
{
    width: 20em;
    height: 20em;
}

.infos_contato
{
    width: fit-content;
    padding: 10px;
}

.mensagem > textarea
{
    width: 80%;
    height: 200px;
}
.instagram
{
    width: 20em;
    height: 20em;
}
.Frio 
{
    color: rgb(243, 6, 6);
}
.cont
{
    color: rgb(243, 6, 6);
}
.prod
{
    color: rgb(243, 6, 6);
}
.sobre
{
    color: rgb(243, 6, 6);
}

:root {
    --cor-primaria: blue;
    --cor-secundaria: yellow;
}

.imagemhome {
    border: 5px solid var(--cor-primaria);
}
.imagemhome2 {
    border: 5px solid var(--cor-primaria);
}   
.homecolor1 {
    color: var(--cor-primaria);
}
.homecolor2 {
    color: var(--cor-primaria);
}
.sobrecolor {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.navegacao a
{
    text-decoration: none;
}
.navegacao a button
{
    padding: 5px 15px;
    margin: 0 0 50px 0;
}

